#utskrift{
    width: 1800px; /* Set a width for your box */
    height: 720px; /* Set a fixed height for your box */
    border: 1px solid #ccc; /* Add a border for visibility */
    overflow: auto; /* This is the key property for scrolling */
    padding: 10px; /* Add some padding if desired */
}

body{
    display:flex;
    justify-content: center;
    background-color: rgb(41, 40, 40) ;
    color: white;
}

.tid{
    color: grey;
    font-size: 12px;
}

#romDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Romskjema{
margin-left: 300px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
}